@use "sass:color";

//Variabler
$color-background-one: #027a7a;
$color-background-two: color.scale($color-background-one, $lightness: -20%);
$color-background-three: color.scale($color-background-one, $lightness: -40%);
$color-background-four: color.scale($color-background-one, $lightness: -55%);
$color-background-five: color.complement($color-background-three);
$color-background-error: color.scale($color-background-five, $lightness: 5%);

$color-background-dark-one: #2b2b2b;
$color-background-dark-two: color.scale(
  $color-background-dark-one,
  $lightness: 10%
);
$color-background-dark-three: color.scale(
  $color-background-dark-one,
  $lightness: -10%
);
$color-background-dark-four: color.scale(
  $color-background-dark-one,
  $lightness: -40%
);

$color-text-primary: white;

$color-one-spinner: rgb(214, 214, 214);
$color-two-spinner: rgb(97, 97, 97);

$font-title: "DynaPuff", system-ui;
$font-content: "Roboto", sans-serif;

//Placeholders
%centerchild {
  margin-left: auto;
  margin-right: auto;
}
%flexalign {
  display: flex;
  align-items: center;
}
%flexjustify {
  display: flex;
  justify-content: center;
}
%padding {
  padding: 2%;
}
%border-radius {
  border-radius: 10px;
}

//Mixins
@mixin color-one-light($light-theme: true) {
  @if $light-theme {
    background-color: $color-background-one;
  } @else {
    background-color: $color-background-dark-one;
  }
}

@mixin color-two-light($light-theme: true) {
  @if $light-theme {
    background-color: $color-background-three;
  } @else {
    background-color: $color-background-dark-four;
  }
}
@mixin color-three-light($light-theme: true) {
  @if $light-theme {
    background-color: $color-background-four;
  } @else {
    background-color: $color-background-dark-four;
  }
}
