@use "base";

body {
  background-color: base.$color-background-one;
  color: base.$color-text-primary;
  margin: 0;
  font-family: base.$font-title;
  line-height: 2.5em;
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  font-size: 1.4rem;
  background-color: base.$color-background-four;
  img {
    width: 300px;
    height: 300px;
  }
}
#topmain {
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 1.2rem;
  img {
    width: 100%;
  }
  h2 {
    padding: 2%;
    width: 30%;
    background-color: base.$color-background-three;
    border-radius: 15px;
  }
}
#mapcontainer {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid base.$color-background-two;
  border-radius: 10px;
}
#map {
  width: 100%;
  height: 100%;
}
footer {
  background-color: base.$color-background-three;
  font-family: base.$font-content;
  padding: 3%;
  a {
    color: base.$color-text-primary;
    text-decoration: none;
  }
}
section {
  background-color: base.$color-background-four;
  width: 50%;
  padding: 2%;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid base.$color-background-five;
  border-radius: 10px;
  p {
    font-family: base.$font-content;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.textandicon {
  display: flex;
  justify-content: center;
}
